.star::after{
    content: "";
    height: 4px;
    width: 80px;
    background-color: white;
    position: absolute;
    top: 50% ;
    left: 42% ;
}
.star::before{
    content: "";
    height: 4px;
    width: 80px;
    background-color: white;
    position: absolute;
    top: 50% ;
    right: 42% ;
}